html {
    font-size: 62.5%;
}

body {
    background-color: #F3FAFF;
}

.main_vs {
    display: block;
    text-align: center;

    >.first_view {
        margin-top: 90px;
        margin-bottom: 35px;
    }
}

.font_color {
    color: #AE0000;
}


.footer-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

.footer-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    >span {
        height: 37px;
    }
}

.question {
    display: block;
    text-align: center;

    >img {
        margin-top: 50px;
    }

    .question_line {
        margin-bottom: 400px;
        margin-top: 30px;
        margin-left: 56px;
        width: 290px;
        height: 2px;
        background-color: #000;
    }

    .arrow_box {
        position: relative;
        background: #FFF;
        border: 3px solid #000;
        width: 280px;
        height: 75px;
        text-align: center;
        align-content: center;
        margin-top: 350px;
        justify-content: center;
        align-items: center;

    }

    .arrow_box:after,
    .arrow_box:before {
        top: 100%;
        left: 50%;
        border: solid transparent;
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        justify-content: center;
        align-items: center;

    }

    .arrow_box:after {
        border-color: rgba(255, 255, 255, 0);
        border-top-color: #FFF;
        border-width: 20px;
        margin-left: -20px;
        justify-content: center;
        align-items: center;

    }

    .arrow_box:before {
        border-color: rgba(0, 0, 0, 0);
        border-top-color: #000;
        border-width: 24px;
        margin-left: -24px;
        justify-content: center;
        align-items: center;

    }
}