html {
    font-size: 62.5%;
}

body {
    background-color: #F3FAFF;
    font-family: 'A P-OTF A1Gothic Std', 'Arial Narrow', Arial, sans-serif;
}

.footer-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

.footer-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    >span {
        height: 37px;
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .search_tittle {
        width: 370px;
        height: 44px;
        background-color: #68C5F3;
        color: #fff;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        h1 {
            font-weight: 500;
            font-size: 24px;
        }
    }

    .img {
        margin-top: 30px;
    }

    h2 {
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        margin-top: 24px;
    }

    h3 {
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        width: 250px;
        height: 40px;
        background-color: #68C5F3;
        border-radius: 10px;
    }
}

.search_btn {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 25px;

    a {
        text-decoration: none;
        color: #fff;
        position: relative;

    }

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    a::after {
        content: "";
        width: 10px;
        height: 10px;
        border-top: solid 3px #FFF;
        border-right: solid 3px #FFF;
        border-radius: 3px;
        transform: rotate(45deg);
        position: absolute;
        margin-top: -7px;
        top: 55%;
        left: 200px;
    }

    a:nth-last-child(-n + 1) {
        margin-bottom: 100px;
    }
}