html {
    font-size: 62.5%;
}

body {
    background-color: #F3FAFF;
    font-family: 'A P-OTF A1Gothic Std', 'Arial Narrow', Arial, sans-serif;
}

.footer-menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    z-index: 1000;
}

.footer-menu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;

    >span {
        height: 37px;
    }
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .search_tittle {
        width: 370px;
        height: 44px;
        background-color: #68C5F3;
        color: #fff;
        border-radius: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;
        font-weight: lighter;

    }

    .img {
        margin-top: 30px;
    }

    h2 {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        margin-top: 20px;
    }

    h3 {
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        width: 330px;
        height: 55px;
        background-color: #68C5F3;
        border-radius: 10px;
    }
}

.search_btn {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    a {
        text-decoration: none;
        color: #fff;
        position: relative;

    }

    h3 {
        display: flex;
        justify-content: center;
        align-items: center;

    }


    a::after {
        content: "";
        width: 14px;
        height: 14px;
        border-top: solid 3px #FFF;
        border-right: solid 3px #FFF;
        border-radius: 3px;
        transform: rotate(45deg);
        position: absolute;
        margin-top: -7px;
        top: 50%;
        left: 280px;
    }
}